.footer {
  padding: 50px 30px;
  width: 400vh;
  background-color: var(--dark);
  color: var(--light);
  text-align: center;

  nav {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  a {
    color: var(--light);
    text-decoration: none;

    &:hover {
      color: var(--accent)
  }
  }
  
}