// styles/Home.module.scss

.main {
	@include main;
	@include flex-column(var(--gap-md));

	.header {
		height: 40px;
		@include flex-center;

		.sectionTitle {
			text-align: center;
			color: var(--light);
			font-size: var(--fs-md);
		}
	}
}
