.main {
  @include main;

  .header {
    @include header;
  }

  color: var(--light);

  .userInfo {
    @include flex(var(--gap-md));
    justify-content: flex-end;

    span {
      font-weight: var(--fw-regular);
    }
  }

  .cardsList {
    @include flex-column(var(--gap-md));
  }

  .linkBtn {
    width: 100%;

    button {
      @include button;
      width: 100%;
    }
  }
}
