.login {
	.loginContainer {
		min-height: 100dvh;
		@include flex-column(var(--gap-md));

		@media (min-width: 1025px) {
			padding-top: calc(100px + var(--page-padding)) !important;

			margin: 0 auto;
			max-width: 1300px;
			flex-direction: row;
			column-gap: var(--page-padding);
			// justify-content: space-between;
			justify-content: center;
			align-items: center;
		}

		.heroImg {
			margin-top: var(--page-padding);
			width: 80%;
			height: auto;
			align-self: end;
			max-height: 585px;
			max-width: 444px;

			@media (min-width: 1025px) {
				margin-top: unset;
				height: unset;
				width: unset;
				align-self: unset;

				margin-right: auto;
				border-right: 4px dashed var(--dark);
				transform: scaleX(-1);
			}
		}

		.main {
			@include flex-column(var(--gap-md));
			padding: 0 var(--page-padding) var(--page-padding);

			@media (min-width: 1025px) {
				width: 50%;
				padding: var(--page-padding);
				align-items: start;

				@media (min-width: 1025px) {
					button {
						align-self: stretch;
					}
				}
			}

			.header {
				@include flex-column(var(--gap-md));
				margin-bottom: var(--gap-md);

				h1 {
					color: var(--accent);
					font-weight: 700;
				}

				h2 {
					color: var(--white);
					font-weight: var(--fw-regular);
				}
			}

			.register {
				text-align: center;
				color: var(--light);

				@media (min-width: 1025px) {
					align-self: center;
				}

				.registerLink {
					font-weight: var(--fw-bold);
					transition: all 0.35s ease;

					&:active,
					&:focus,
					&:hover {
						color: var(--dark);
					}
				}
			}
		}
	}
}
