.main {
	width: 100vw;
	max-width: 600px;
	margin: 0 auto;
	min-height: 100dvh;
	padding: var(--page-padding);
	display: flex;
	flex-direction: column;
	row-gap: var(--gap-md);

	.privacyInfo {
		color: var(--light);
	}
}
