.loadingScreen {
  display: flex;
  flex-direction: column;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--dark);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

  .spaceship {
    margin-bottom: 20px;
    font-size: 50px;
    animation: fly 2s infinite ease-in-out;
  }

  @keyframes fly {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px); /* Effetto di volo su e giù */
    }
    100% {
      transform: translateY(0);
    }
  }
}

.loadingMessage {
  font-family: "Hanken Grotesk", sans-serif;
  font-size: var(--fs-lg);
  color: #fffffe;
  margin-top: 40px;
  font-weight: bold;
  text-align: center;
}
