.main {
  @include main;
  @include flex-column(15px);
  @include flex-center;

  h1 {
    font-size: 2rem;
    font-weight: bold;
  }

  form {
    @include flex-column(20px);
  }
}

.mainContent {
  padding: 40px;
  margin: 40px;
  @include flex-column(20px);
  @include flex-center;
  background-color: var(--elements-bg);
  border-radius: 10px;
}

.login:hover {
  color: var(--accent);
}

.messageContainer {
  @include base-element;
}

.message {
  color: green;
}

.error {
  color: red;
}
