.main {
  @include main;
  @include flex-column(var(--gap-md));
  @include flex-center;

  .mainContent {
    @include form;
    padding: var(--page-padding);
    @include flex-center;
    background-color: var(--elements-bg);
    border-radius: var(--border-radius);
  }

  h1 {
    font-size: var(--fs-md);
    font-weight: var(--fw-bold);
    color: var(--white);
  }

  form {
    @include flex-column(20px);
  }
}

.login {
  color: var(--white);
}

.login:hover {
  color: var(--accent);
}

.messageContainer {
  @include base-element;
}

.message {
  color: green;
}

.error {
  color: red;
}
