.main {
	@include main;

	.container {
		@include flex-column(var(--gap-lg));

		@media (min-width: 1025px) {
			flex-direction: row;
			column-gap: var(--page-padding);
			align-items: start;
			min-height: 600px;

			& > div {
				width: 50%;
			}
		}

		.header {
			@include header;
		}

		.progress {
			@include flex-column(var(--gap-sm));
			h3 {
				color: var(--light);
				font-size: var(--fs-md);
			}
		}

		& > div {
			@include flex-column(var(--gap-lg));
			flex-grow: 1;

			form {
				flex-grow: 1;
				@include form;
			}
		}

		mark.invalid {
			background: var(--tertiary);
			color: var(--white);
			font-weight: var(--fw-regular);
			padding: calc(var(--elements-padding) / 2) var(--elements-padding);
			width: fit-content;
			font-size: var(--fs-sm);
		}

		.buttons {
			display: flex;
			justify-content: flex-end;
			gap: var(--gap-md);
		}
	}
}
