@import "../../styles/default/mixins";

.resultPage {
    @include main;

    .header {
        height: 40px;
        @include flex-center; 
    }
    .sectionTitle {
        text-align: center;
        color: var(--light);
        font-size: var(--fs-md);
    }
    h3 {
        color: var(--light);
        text-align: center;
        margin-bottom: var(--gap-lg);  
    }
    h4, p {
        color: var(--light);
        }
    
    .feedbackMessage{
        text-align: center;
    }
    div {
        margin-bottom: var(--gap-sm);
    }
    .icon{
        text-align: right;
    }
    .containerImg {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .avatarImg {
        width: 50%;
        height: 50%;
        object-fit: cover;
    }
}

