// @mixin btn-details($color, $bgColor, $fontWeight) {
// 	color: $color;
// 	background-color: $bgColor;
// 	font-weight: $fontWeight;
// }

@mixin flex-column($gap) {
	display: flex;
	flex-direction: column;
	row-gap: $gap;
}
