.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  @include flex-column(var(--gap-lg));
  background-color: var(--white);
  padding: 26px;
  border-radius: var(--border-radius);
  text-align: center;
  .buttons {
    @include flex(var(--gap-lg));
    @include flex-center;
  }
}
