.primaryButton {
	padding: var(--elements-padding);
	border-radius: var(--border-radius);
	color: var(--dark);
	font-size: var(--fs-md);
	font-weight: var(--fw-bold);
	cursor: pointer;

	&.ctaA {
		background: var(--accent);
	}

	&.ctaB {
		background: var(--light);
	}

	transition: box-shadow 0.35s ease, opacity 0.35s ease, font-size 0.3ms 0.05s, padding 0.3ms 0.05s;

	&:active,
	&:focus,
	&:hover {
		opacity: 0.9;
		box-shadow: inset 4px 4px 3px 0px rgba(0, 0, 0, 0.2);
		font-size: calc(var(--fs-md) - 1px);
		padding: calc(var(--elements-padding) + 0.5px) var(--elements-padding);
	}
}
