@import "../../styles/default/mixins";

.newInterview {
  @include main;

  h2 {
    color: var(--light);
    text-align: center;
    margin-bottom: var(--gap-lg);
  }

  .hero {
    margin-bottom: 20px; // per separare l'immagine dal form
    flex-grow: 1;
		@include flex-center;

    .interviewImg {
      width: 100%;
      height: 100%;
    }
  }



  form {
    @include flex-column(var(--gap-md));


    div {
      margin-bottom: var(--gap-sm);

      label {
        color: var(--light);
        display: block;
        margin-bottom: var(--gap-sm);
      }

      input,
      select {
        @include base-element;
        width: 100%;
      }

      select {
        appearance: none;
        background-image: url("data:image/svg+xml;base64,<BASE64 SVG ICON>"); // Puoi usare un'icona personalizzata per il dropdown
        background-repeat: no-repeat;
        background-position: right 10px center;
      }
    }

    button {
      @include button;
      margin-top: var(--gap-lg);
    }
  }
}
