.form {
  @include flex-column(var(--gap-md));

  .forgotPassword {
    color: var(--light);
    font-weight: var(--fw-regular);
    text-align: right;
    cursor: pointer;
    text-decoration: underline;

    transition: all 0.35s ease;
    &:active,
    &:focus,
    &:hover {
      color: var(--dark);
      font-weight: var(--fw-bold);
    }
  }

  mark.invalid {
    background: var(--tertiary);
    color: var(--white);
    font-weight: var(--fw-regular);
    padding: calc(var(--elements-padding) / 2) var(--elements-padding);
    width: fit-content;
    font-size: var(--fs-sm);
  }

  & > :last-child {
    margin-top: var(--gap-md);
  }

  input:focus,
  select:focus {
    outline: 2px solid var(--light);
  }

  input:not(:placeholder-shown):valid,
  input:focus:user-valid:not(:required) {
    outline: 2px solid var(--secondary);
  }

  input:not(:placeholder-shown):invalid {
    outline: 2px solid var(--tertiary);
  }

  input:focus:invalid {
    outline: 2px solid var(--accent);
  }
}
