.pageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .boxContainer {
    width: 350px;
    height: 250px;
    background-color: #7f5af0;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .loader {
    height: 100px;
    aspect-ratio: 1;
    display: grid;
  }
  
  .loader:before,
  .loader:after {
    content: "";
    --c: no-repeat linear-gradient(#f9ff00 0 0);
    background: var(--c), var(--c);
    background-size: 25% 50%;
    animation: l4 1.5s infinite linear;
  }
  
  .loader:after {
    transform: scale(-1);
  }
  
  @keyframes l4 {
    0%,
    10% {
      background-position: 33.4% 100%, 66.6% 100%;
    }
    40% {
      background-position: 33.4% 0, 100% 100%;
    }
    70% {
      background-position: 0 100%, 66.6% 0;
    }
    100% {
      background-position: 33.4% 100%, 66.6% 100%;
    }
  }
  
  .loadingMessage {
    font-family: "Hanken Grotesk", sans-serif;
    font-size: var(--fs-md);
    color: #fffffe;
    margin-top: 40px;
    font-weight: bold;
    text-align: center;
  }
  