.testCard {
	flex-grow: 1;
	height: 100%;
	max-height: 370px;

	@include base-element;
	@include flex-column(var(--gap-sm));
	transition: transform 0.3s ease;

	&:hover,
	&:active,
	&:focus {
		transform: scale(1.05);
	}

	@media (min-width: 1025px) {
		max-width: 400px;
	}

	.hero {
		margin-bottom: auto;
		border-radius: var(--border-radius);
		background-color: var(--primary);
		padding-top: 50px;

		img {
			display: block;
			margin: 0 auto;
		}
	}
}
