.quizCardContainer {
  @include base-element;
  @include flex-column(var(--gap-md));
  transition: transform 0.3s ease;

  &.selectedCard {
    transform: scale(1.05);
    border: 4px solid var(--dark);
  }

  .quizCard {
    @include flex(var(--gap-lg));
    cursor: pointer;
    transition: transform 0.3s ease, border 0.3s ease;

    .quizCardImgContainer {
      height: 65px;
      width: 65px;
      position: relative;
      background-color: var(--primary);
      border-radius: 50%;
      padding: 10px;
      border: 3px solid var(--tertiary);
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }

      .scoreContainer {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 40px;
        height: 20px;
        transform: translate(30%, 15%);
        background-color: var(--tertiary);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: var(--border-radius);
        font-size: var(--fs-sm);
        font-weight: 900;
        color: var(--white);
      }
    }

    .content {
      @include flex-column(var(--gap-sm));
      width: calc(100% - 100px);
      position: relative;

      .titleCard {
        font-size: 20px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-transform: capitalize;
      }

      .fullText {
        text-overflow: unset;
        white-space: normal;
        text-transform: none;
      }

      span {
        font-weight: var(--fw-regular);
      }

      .interviewerContainer {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 6px;
        .avatarInterviewer {
          width: 32px;
          height: 32px;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }

      // .deleteButton {
      //   width: 50px;
      //   height: 50px;

      //   img {
      //     width: 100%;
      //     height: 100%;
      //     object-fit: contain;
      //     cursor: pointer;
      //   }
      // }
    }
  }

  .buttonsContainer {
    @include flex-center;
    gap: var(--gap-sm);
    button {
      flex: 1;
    }

    .deleteButton {
      width: 60px;
      height: 60px;
      background-color: var(--dark);
      padding: 15px;
      border-radius: 100px;
      cursor: pointer;
      &:hover {
        opacity: 0.9;
      }
      img {
        height: 100%;
        width: 100%;
        object-fit: contain;
      }
    }
  }
}
