.selectBox {
	@include flex-column(var(--gap-sm));
	position: relative;

	select {
		appearance: none;
	}

	.selectIcon {
		position: absolute;
		right: var(--gap-md);
		bottom: var(--gap-md);
		pointer-events: none;
	}
}
